body {
    margin: 0;
    padding: 0;
    max-width: 768px;
    max-height: 1388px;
    font-family: 'Montserrat Ace';
}

.banner {
    background-image: url(../assets/imgs/D.jpg);
    background-size: cover;
    width: 1388px;
    height: 768px;
    position: absolute;
    z-index: -1;
    margin: auto;
}

.banner .container {
    display: flex;
    width: 472px;
    height: 476px;
    justify-content: left;
    background-color: #2E2109;
    position: relative;
    margin-left: 466px;
    border-radius: 14px;
    border: 1px solid #AE8406;
    align-items: start;
    flex-direction: column;
    top: 120px;
}

.container .container2 {
    display: flex;
    width: 496px;
    height: 494px;
    background-color: #7F601F;
    opacity: 80%;
    position: absolute;
    border-radius: 14px;
    z-index: -2;
    top: 33px;
    left: 30px;
}

.containerInterno{
    display: flex;
    width: 448px;
    height: 326px;
    top: 60px;
    color: white;
    align-items: start;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    position: absolute;
}


.containerInterno #a {
    display: flex;
    margin-left: 36px;
    font-size: 25px;
    
}

.containerInterno #b {
    display: flex;
    margin-left: 36px;
    font-size: 25px;
}

.containerInterno #c {
    display: flex;
    margin-left: 36px;
    font-size: 25px;
}

input {
    background-color: #392D12;
    border: 1px solid #8f6d0f;
    width: 404px;
    margin-left: 36px;
    height: 30px;
    border-radius: 6px;
    color: white;
    font-size: 20px;
}

h1{
    color: white;
    margin-top: 63px;
    margin-left: 126px;
    position: fixed;
    font-size: 48px;
   
}

button {
    background-color: #9C770B;
    border: 1px solid #8f6d0f;
    width: 120px;
    margin-left: 330px;
    height: 30px;
    border-radius: 6px;
    top: 300px;
    position: absolute;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat Ace';
}

img{
    height: 17px;
    width: 90px;
    margin-top: 50px;
    margin-left: 194px;
}

.conjuntoEmail {
    margin-top: 20px;
}

.containerInterno .conjuntoSenha {
    margin-top: 20px;
}

.conjuntoEmpresa {
    margin-top: 20px;
}