@import url('https://fonts.cdnfonts.com/css/montserrat-ace');
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat Ace';
}
.header{
    height: 8%;
    width: 100%;
    margin: auto;
    position: relative;
    align-items: center;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #6D4A00;
}
.container {
    display: flex;
   
}

.navbar {
    display: flex;
    position: absolute;
    width: 23.8%;
    white-space: nowrap;
    font-size: 23px;
    left: 60%;
    font-weight: 300;
    top: 30%;
    align-items: center;
    gap: 20px;
}

.header #linhareta{
    width: 1.5vw;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 88%;
    border: 0.5px solid #6D4A00;
    transform: rotate(90deg);
}
.header .logo{
    position: absolute;
    width: 136px;
    height: 25px;
    top: 31%;
    left: 8%;
}

.idperfil {
    position: absolute;
    font-weight: 300;
    font-size: 23px;
    top: 30%;
    left: 90%;

}

.header #iconmenuperfil{
    position: absolute;
    top: 9%;
    left: 100%;
    cursor: pointer;
    color: #6D4A00;
}

.menutop{
    display: flex;
    position: relative;
    width: 100%;
    height: 7.5vh;
    /* top: 2.3vh; */
}

.containermenu{
    display: flex;
    position: absolute;
    width: 100%;
    height: 7.5vh;
    background-color:#6D4A00;
    align-items: center;
   
}


.containermenu .menutexto {
    display: flex;
    position: absolute;
    font-size: 36px;
    font-weight: 700;
    left: 3.5%;
    color: #C6B082;
    pointer-events: none;
    
   
}
.containermenu #iconmenu{
    position: absolute;
    margin: -2em;
    padding: 2em;
    left: 1.2%;
    top: 35%;
    color: #C6B082;
    cursor: pointer;


}
.conteudo{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.menuleft{
    position: absolute;
}

.containermenuleft{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    width: 15vw;
    height: 100vh;
}

.containermenuleft .paineltexto{
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    color: #c6b082;
    top: 1.5vh;
    left: 0.9vw;
}

.containermenuleft .blocoala1{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 6.5%;
    border-radius: 10px;
    top: 7%;
    background-color:#6D4A00;
    cursor: pointer;
}

.containermenuleft .pincelmenuleft{
    position: absolute;
    display: flex;
    height: 3.21vh;
    top: 27.2%;
    left: 6%;
}

.containermenuleft .texto1menuleft{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19.5px;
    color: #c6b082;
    position: absolute;
    top: 35%;
    left: 22%;
}

.containermenuleft .blocoala2{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 6.5%;
    border-radius: 10px;
    top: 15%;
    background-color:#2E2109;
    cursor: pointer;
}
.containermenuleft .pincelmenuleft2{
    position: absolute;
    height: 3.21vh;
    left: 6%;
    top: 27.2%;
}

.containermenuleft .texto2menuleft{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19.5px;
    color: #c6b082;
    position: absolute;
    top: 35%;
    left: 22%;
}

.containermenuleft .blocoala3{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 6.5%;
    border-radius: 10px;
    top: 23%;
    background-color:#2E2109;
    cursor: pointer;
}
.containermenuleft .pincelmenuleft3{
    position: absolute;
    height: 3.21vh;
    left: 6%;
    top: 27.2%;
}

.containermenuleft .texto3menuleft{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19.5px;
    color: #c6b082;
    position: absolute;
    top: 35%;
    left: 22%;
}

.containermenuleft .blocoala4{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 6.5%;
    border-radius: 10px;
    top: 31%;
    background-color:#2E2109;
    cursor: pointer;
}
.containermenuleft .pincelmenuleft4{
    position: absolute;
    height: 3.21vh;
    left: 6%;
    top: 27.2%;
}

.containermenuleft .texto4menuleft{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19.5px;
    color: #c6b082;
    position: absolute;
    top: 35%;
    left: 22%;
}

.dashboard {
    display: flex;
    position: relative;
    
}
.containerdashboard {
    position: relative;
    height: 100vh;
    width: 85%;
    color:#C6B082;
    z-index: -2;
    left: 15%;


}

.conteudo #alaala2a{
    background-color: pink;
    display: none;
    width: 100px;
    height: 100px;
    z-index: 2;
    left: 20%;
    position: absolute;
}

.conteudo #alaala3a{
    background-color: red;
    display: none;
    width: 100px;
    height: 100px;
    z-index: 2;
    left: 20%;
    position: absolute;
}

.conteudo #alaala4a{
    background-color: blueviolet;
    display: none;
    width: 100px;
    height: 100px;
    z-index: 2;
    left: 20%;
    position: absolute;
}

.containerdashboard .dashboard1{
    position: absolute;
    width: 43%;
    height: 32%;
    left: 3%;
    top: 6%;
}

.containerdashboard #dash1{
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #C6B082;
    border-radius: 10px;
}

.containerdashboard #dash1icon{
    display: flex;
    position: absolute;
    background-color: #6D4A00;
    left: 85.9%;
    width: 14.1%;
    height: 31.5%;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.containerdashboard #dash1marrom{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    width: 100%;
    height: 31.5%;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dashboard1 #dash1texto{
    display: flex;
    position: absolute;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
    left: 9%;
}
/*DASHBOARD 2*/
.containerdashboard .dashboard2{
    display: flex;
    position: absolute;
    left: 49%;
    top: 6%;
    width: 43%;
    height: 32%;
}

.containerdashboard #dash2{
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #C6B082;
    border-radius: 10px;
}

.containerdashboard #dash2icon{
    display: flex;
    position: absolute;
    background-color: #6D4A00;
    left: 85.9%;
    width: 14.1%;
    height: 31.5%;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.containerdashboard #dash2marrom{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    width: 100%;
    height: 31.5%;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}


.dashboard2 #dash2texto{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
    left: 9%;
}

/*DASHBOARD 3*/
.containerdashboard .dashboard3{
    position: absolute;
    top: 44%;
    left: 3%;
    width: 43%;
    height: 32%;
}

.containerdashboard #dash3{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #C6B082;
    border-radius: 10px;
}

.containerdashboard #dash3icon{
    display: flex;
    position: absolute;
    background-color: #6D4A00;
    left: 85.9%;
    width: 14.1%;
    height: 31.5%;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.containerdashboard #dash3marrom{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    width: 100%;
    height: 31.5%;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dashboard3 #dash3texto{
    display: flex;
    position: absolute;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
    left: 9%;
}

/*DASHBOARD 4*/
.containerdashboard .dashboard4{
    position: absolute;
    top: 44%;
    left: 49%;
    width: 43%;
    height: 32%;
}

.containerdashboard #dash4{
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #C6B082;
    border-radius: 10px;
}

.containerdashboard #dash4icon{
    display: flex;
    position: absolute;
    background-color: #6D4A00;
    left: 85.9%;
    width: 14.1%;
    height: 31.5%;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.containerdashboard #dash4marrom{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    width: 100%;
    height: 31.5%;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dashboard4 #dash4texto{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
    left: 9%;
}

/*menu escondido*/
.hidemenu{
    display: none;
    
}

.containerhidemenu{
    display: flex;
    position: absolute;
    width: 3.26%;
    height: 100%;
    background-color: #2E2109;
}
.hidemenu #hidemenubloco1{
    display: flex;
    position: absolute;
    width: 3.26%;
    height: 6.5%; 
    border-radius: 10px;
    top: 7%;
    background-color:#6D4A00;
    cursor: pointer;
}

.pincelhidemenu{
    position: absolute;
    display: flex;
    height: 3.21vh;
    top: 8.6%;
    left: 0.9%;

}

.hidemenu #hidemenubloco2{
    display: flex;
    position: absolute;
    width: 3.26%;
    height: 6.5%; 
    border-radius: 10px;
    top: 15%;
    background-color:#2E2109;
    cursor: pointer;
}
.pincelhidemenu2{
    display: flex;
    position: absolute;
    height: 3.21vh;
    left: 0.9%;
    top: 16.68%;
}
.hidemenu #hidemenubloco3{
    display: flex;
    position: absolute;
    width: 3.26%;
    height: 6.5%; 
    border-radius: 10px;
    top: 23%;
    background-color:#2E2109;
    cursor: pointer;
}

.pincelhidemenu3{
    display: flex;
    position: absolute;
    height: 3.21vh;
    left: 0.9%;
    top: 24.76%;
}

.hidemenu #hidemenubloco4{
    display: flex;
    position: absolute;
    width: 3.26%;
    height: 6.5%; 
    border-radius: 10px;
    top: 31%;
    background-color:#2E2109;
    cursor: pointer;
}
.pincelhidemenu4{
    display: flex;
    position: absolute;
    height: 3.21vh;
    left: 0.9%;
    top: 32.84%;
}

/*Menu Flutuante*/
.submenuperfil{
    display: none;
    position: relative;
    z-index: 3;
}

.containersubmenu{
    position: absolute;
    left: 77%;
    top: -4px;
    width: 302px;
    height: 262px;
}
.submenuperfil .blocosubmenu {
    position: absolute;
    background-color: #2E2109;
    width: 302px;
    height: 262px;
    border-radius: 10px;
}

.submenuperfil .conta{
    z-index: 2;
    position: absolute;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    top: 10%;
    left: 6.5%;
    color: #C6B082;
}

.submenuperfil .imagemperfil{
    display: flex;
    z-index: 2;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    top: 22.5%;
    left: 8.6%;
    background-color: ghostwhite;
}

.submenuperfil .nomeconta{
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #C6B082;
    top: 23%;
    left: 24%;
}

.submenuperfil .contaemail{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    top: 30.5%;
    left: 24%;
    color: #FFAD00;
}

.submenuperfil .gerenciarconta{
    position: absolute;
    font-family: 'Montserrat Ace';
    z-index: 2;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #C6B082;
    top: 50%;
    left: 6.5%;
}

.submenuperfil .contadashboard{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #C6B082;
    top: 61%;
    left: 6.5%;
}

.submenuperfil .contaconfig{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #C6B082;
    top: 72%;
    left: 6.5%;
}

.submenuperfil .contalinha{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 302px;
    height: 1px;
    top: 83%;
    left: 0vw;
    transform: rotate(180deg);
    background-color: rgba(255, 174, 0, 0.5);
}

.submenuperfil .contalogout{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #C6B082;
    top: 86%;
    left: 6.5%;
}
