/*menu escondido*/
.hidemenu{
    display: none
    
}

.containerhidemenu{
    display: flex;
    position: absolute;
    width: 3.26%;
    height: 100%;
    background-color: #2E2109;
}
.hidemenu #hidemenubloco1{
    display: flex;
    position: absolute;
    width: 3.26%;
    height: 6.5%; 
    border-radius: 10px;
    top: 7%;
    z-index: 1;
    background-color:#6D4A00;
    cursor: pointer;
}

.pincelhidemenu{
    position: absolute;
    display: flex;
    height: 3.21vh;
    top: 8.6%;
    left: 0.9%;
    z-index: 2;

}

.hidemenu #hidemenubloco2{
    display: flex;
    position: absolute;
    width: 3.26%;
    height: 6.5%; 
    border-radius: 10px;
    top: 15%;
    background-color:#2E2109;
    z-index: 1;
    cursor: pointer;
}
.pincelhidemenu2{
    display: flex;
    position: absolute;
    height: 3.21vh;
    left: 0.9%;
    top: 16.68%;
    z-index: 2;
}
.hidemenu #hidemenubloco3{
    display: flex;
    position: absolute;
    width: 3.26%;
    height: 6.5%; 
    border-radius: 10px;
    top: 23%;
    background-color:#2E2109;
    z-index: 1;
    cursor: pointer;
}

.pincelhidemenu3{
    display: flex;
    position: absolute;
    height: 3.21vh;
    left: 0.9%;
    top: 24.76%;
    z-index: 2;
}

.hidemenu #hidemenubloco4{
    display: flex;
    position: absolute;
    width: 3.26%;
    height: 6.5%; 
    border-radius: 10px;
    top: 31%;
    background-color:#2E2109;
    z-index: 1;
    cursor: pointer;
}
.pincelhidemenu4{
    display: flex;
    position: absolute;
    height: 3.21vh;
    left: 0.9%;
    z-index: 2;
    top: 32.84%;
}
