.menutop{
    display: flex;
    position: relative;
    width: 100%;
    height: 7.5vh;
}

.containermenu{
    display: flex;
    position: absolute;
    width: 100%;
    height: 7.5vh;
    background-color:#6D4A00;
    align-items: center;
   
}


.containermenu .menutexto {
    display: flex;
    position: absolute;
    font-size: 36px;
    font-weight: 700;
    left: 3.5%;
    color: #C6B082;
    pointer-events: none;
    
   
}
.containermenu #iconmenu{
    position: absolute;
    margin: -2em;
    padding: 2em;
    left: 1.2%;
    top: 35%;
    color: #C6B082;
    cursor: pointer;


}
.conteudo{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.menuleft{
    position: absolute;
}

.containermenuleft{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    width: 15vw;
    height: 100vh;
}

.containermenuleft .paineltexto{
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    color: #c6b082;
    top: 1.5vh;
    left: 0.9vw;
}

.containermenuleft .blocoala1{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 6.5%;
    border-radius: 10px;
    top: 7%;
    background-color:#6D4A00;
    cursor: pointer;
}

.containermenuleft .pincelmenuleft{
    position: absolute;
    display: flex;
    height: 3.21vh;
    top: 27.2%;
    left: 6%;
}

.containermenuleft .texto1menuleft{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19.5px;
    color: #c6b082;
    position: absolute;
    top: 35%;
    left: 22%;
}

.containermenuleft .blocoala2{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 6.5%;
    border-radius: 10px;
    top: 15%;
    background-color:#2E2109;
    cursor: pointer;
}
.containermenuleft .pincelmenuleft2{
    position: absolute;
    height: 3.21vh;
    left: 6%;
    top: 27.2%;
}

.containermenuleft .texto2menuleft{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19.5px;
    color: #c6b082;
    position: absolute;
    top: 35%;
    left: 22%;
}

.containermenuleft .blocoala3{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 6.5%;
    border-radius: 10px;
    top: 23%;
    background-color:#2E2109;
    cursor: pointer;
}
.containermenuleft .pincelmenuleft3{
    position: absolute;
    height: 3.21vh;
    left: 6%;
    top: 27.2%;
}

.containermenuleft .texto3menuleft{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19.5px;
    color: #c6b082;
    position: absolute;
    top: 35%;
    left: 22%;
}

.containermenuleft .blocoala4{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 6.5%;
    border-radius: 10px;
    top: 31%;
    background-color:#2E2109;
    cursor: pointer;
}
.containermenuleft .pincelmenuleft4{
    position: absolute;
    height: 3.21vh;
    left: 6%;
    top: 27.2%;
}

.containermenuleft .texto4menuleft{
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19.5px;
    color: #c6b082;
    position: absolute;
    top: 35%;
    left: 22%;
}