@import url('https://fonts.cdnfonts.com/css/montserrat-ace');

* {
    font-family: 'Montserrat Ace';
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Ace';
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}
.titulo {
    background-color: #36290d;
    padding: 0.5px;
    color: #C6B082;
    font-family: 'Montserrat Ace';  
    text-align: center;
}

.div_input {
    display: flex;
    justify-content: center;
    background-color: #C6B082;
    padding: 15px 0;
}

h4 {
    margin: 0;
    padding: 5px 0;
}

.inputs {
    color: #2F220A;
    font-size: 3vh;
    display: flex;
    justify-content: left;
}

input {
    border: 1px solid #ae8406;
    border-radius: 4px;
    width: 99%;
    background-color: #36290d;
    height: 25px;
    display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: 1.5%;
    transition: background-color 0.3s ease-in-out;
    color: #C6B082;
    text-indent: 4px;
}

input:focus {
    outline: none;
    background-color: #C6B082;
    color: #36290d;
    border: #2F220A 1px solid;
}

input::placeholder{
    color: #C6B082;
}

.botao {
    width: 100%;
    display: flex;
    justify-content: center;
}
#button {
    margin-top: 6%;
    border: 1px solid #ae8406;
    border-radius: 4px;
    background-color: #36290d;
    color: #B49F75;
    font-size: 4vh;
    font-family: 'Montserrat Ace';
    font-weight: bold;
    align-self: center;
    cursor: pointer;
}

.div_resultado {
    display: flex;
    background-color: #C6B082;
    padding: 30px 25% 5%;
    justify-content: center;
    color: #36290d;
    font-family: 'Montserrat Ace';
    font-size: 2.5vh;
}

