@import url('https://fonts.cdnfonts.com/css/montserrat-ace');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Ace';
}

.banner {
    display: flex;
    background-image: url(assets/imgs/D.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.containermarrom {
    display: flex;
    flex-direction: column;
    background-color: #2E2109;
    width: 23%;
    height: 45%;
    border-radius: 5%;
    border: 1px solid #AE8406;
    align-items: center;
}

.logo {
    display: flex;
    height: 5%;
    width: 100%;
    justify-content: center;
    margin-top: 7%;
}

.containermarrom #cadastrar{
    display: flex;
    height: 10%;
    width: 100%;
    font-size: 32px;
    font-weight: 800;
    color: white;
    justify-content: center;
    font-size: 2vmax;
}

.containerInterno {
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    color: white;
    justify-content: start;
    width: 87%;
    margin-top: 5%;
}

#input_email {
    background-color: #392D12;
    border: 1px solid #8f6d0f;
    display: flex;
    width: 100%;
    height: 25%;
    border-radius: 6px;
    color: white;
    font-size: 1vmax;
}

#input_senha {
    background-color: #392D12;
    border: 1px solid #8f6d0f;
    display: flex;
    width: 100%;
    height: 25%;
    border-radius: 6px;
    color: white;
    font-size: 1vmax;
}

#input_empresa {
    background-color: #392D12;
    border: 1px solid #8f6d0f;
    display: flex;
    width: 100%;
    height: 25%;
    border-radius: 6px;
    color: white;
    font-size: 1vmax;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9C770B;
    border: 1px solid #8f6d0f;
    width: 30%;
    height: 7%;
    border-radius: 6px;
    font-size: 100%;
    color: white;
    font-family: 'Montserrat Ace';
    font-size: 1vmax;
    margin-top: 25%;
    margin-left: 55%;
    cursor: pointer;
}

span {
    font-size: 1.2vmax;
}

#logo {
    color: #9C770B;
    font-size: 1vmax;
    font-weight: 800;
}