body {
    margin: 0;
    padding: 0;
    max-height: 768px;
    max-width: 1388px;
    font-family: 'Montserrat Ace';
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #6D4A00;
}
.container {
    display: flex;
    width: 85%;
    margin: auto;
    position: relative;
    align-items: center;
}

.navbar {
    display: flex;
    position: absolute;
    width: 30%;
    white-space: nowrap;
    font-size: 23px;
    left: 51vw;
    font-weight: 300;
    top: 2vh;
    align-items: center;
    gap: 20px;
}

.container #linhareta{
    width: 1.5vw;
    position: absolute;
    z-index: 2;
    top: 2vw;
    left: 142.5vh;
    border: 0.5px solid #6D4A00;
    transform: rotate(90deg);
}
.logo{
    margin-top: 2vh;
    width: 136px;
    height: 25px;
}

.idperfil {
    position: absolute;
    font-weight: 300;
    font-size: 23px;
    top: 2vh;
    left: 80.5vw;

}

.idperfil #iconmenuperfil{
    position: absolute;
    top: 0.4vh;
    left: 7vw;
    cursor: pointer;
    color: #6D4A00;
}

.menutop{
    display: flex;
    position: relative;
    background-color:#6D4A00;
    width: 100vw;
    height: 7.5vh;
    top: 2.3vh;
    z-index: -1;
}

.containermenu{
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
   
}
.containermenu .menutexto {
    display: flex;
    position: absolute;
    font-size: 36px;
    font-weight: 700;
    left: 3.5vw;
    color: #C6B082;
   
}

.containermenu #iconmenu{
    position: absolute;
    margin-left: 2vh;
    margin-top: 1vh;
    color: #C6B082;
    cursor: pointer;
}
.conteudo{
    position: relative;
    margin: 0;
    padding: 0;
}
.menuleft{
    margin: 0;
    padding: 0;
}

.containermenuleft{
    position: absolute;
    z-index: -2;
    top: 2.3vh;
    background-color: #2E2109;
    width: 15vw;
    height: 130.2vh;
    align-items: center;
    margin: 0;
    padding: 0;
}

.containermenuleft .paineltexto{
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #c6b082;
    top: 1.5vh;
    left: 0.9vw;
}

.containermenuleft .pincelmenuleft{
    position: absolute;
    display: flex;
    width: 1.42vw;
    height: 3.21vh;
    top: 7.7vh;
    cursor: pointer;
    left: 0.9vw;
}

.containermenuleft .texto1menuleft{
    position: absolutes;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19.5px;
    color: #c6b082;
    position: absolute;
    top: 8vh;
    left: 3.2vw;
}

.containermenuleft .pincelmenuleft2{
    position: absolute;
    width: 1.42vw;
    height: 3.21vh;
    left: 0.9vw;
    top: 15.68vh;
}


.containermenuleft .texto2menuleft{
    position: absolutes;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19.5px;
    color: #c6b082;
    position: absolute;
    top: 16vh;
    left: 3.2vw;
}

.containermenuleft .pincelmenuleft3{
    position: absolute;
    width: 1.42vw;
    height: 3.21vh;
    left: 0.9vw;
    top: 23.66vh;
}

.containermenuleft .texto3menuleft{
    position: absolutes;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19.5px;
    color: #c6b082;
    position: absolute;
    top: 24vh;
    left: 3.2vw;
}

.dashboard {
    display: flex;
}
.containerdashboard {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 15vw;
    top: 2.3vh;
    color: #C6B082;
}

.containerdashboard .dashboard1{
    position: absolute;
}

.containerdashboard #dash1{
    position: absolute;
    background-color: #C6B082;
    width: 38vw;
    height: 32vh;
    border-radius: 10px;
    top: 6vh;
    left: 3vw;
}

.containerdashboard #dash1icon{
    display: flex;
    position: absolute;
    background-color: #6D4A00;
    top: 6vh;
    left: 35.6vw;
    width: 5.4vw;
    height: 10.1vh;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.containerdashboard #dash1marrom{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    left: 3vw;
    top: 6vh;
    width: 38vw;
    height: 10.1vh;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dashboard1 #dash1texto{
    display: flex;
    position: absolute;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
    left: 6vw;
    top: 6.1vh;
    width: 36.67vw;
    height: 5.04vh;
}
/*DASHBOARD 2*/
.containerdashboard .dashboard2{
    position: absolute;
    left: 74vh;
}

.containerdashboard #dash2{
    position: absolute;
    background-color: #C6B082;
    width: 38vw;
    height: 32vh;
    border-radius: 10px;
    top: 6vh;
    left: 3vw;
}

.containerdashboard #dash2icon{
    display: flex;
    position: absolute;
    background-color: #6D4A00;
    top: 6vh;
    left: 35.6vw;
    width: 5.4vw;
    height: 10.1vh;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.containerdashboard #dash2marrom{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    left: 3vw;
    top: 6vh;
    width: 38vw;
    height: 10.1vh;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dashboard2 #dash2texto{
    display: flex;
    position: absolute;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
    left: 6vw;
    top: 6.1vh;
    width: 36.67vw;
    height: 5.04vh;
}

/*DASHBOARD 3*/
.containerdashboard .dashboard3{
    position: absolute;
    top: 38vh;
}

.containerdashboard #dash3{
    position: absolute;
    background-color: #C6B082;
    width: 38vw;
    height: 32vh;
    border-radius: 10px;
    top: 6vh;
    left: 3vw;
}

.containerdashboard #dash3icon{
    display: flex;
    position: absolute;
    background-color: #6D4A00;
    top: 6vh;
    left: 35.6vw;
    width: 5.4vw;
    height: 10.1vh;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.containerdashboard #dash3marrom{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    left: 3vw;
    top: 6vh;
    width: 38vw;
    height: 10.1vh;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dashboard3 #dash3texto{
    display: flex;
    position: absolute;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
    left: 6vw;
    top: 6.1vh;
    width: 36.67vw;
    height: 5.04vh;
}

/*DASHBOARD 4*/
.containerdashboard .dashboard4{
    position: absolute;
    top: 38vh;
    left: 40.85vw;
}

.containerdashboard #dash4{
    position: absolute;
    background-color: #C6B082;
    width: 38vw;
    height: 32vh;
    border-radius: 10px;
    top: 6vh;
    left: 3vw;
}

.containerdashboard #dash4icon{
    display: flex;
    position: absolute;
    background-color: #6D4A00;
    top: 6vh;
    left: 35.6vw;
    width: 5.4vw;
    height: 10.1vh;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.containerdashboard #dash4marrom{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    left: 3vw;
    top: 6vh;
    width: 38vw;
    height: 10.1vh;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dashboard4 #dash4texto{
    display: flex;
    position: absolute;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
    left: 6vw;
    top: 6.1vh;
    width: 36.67vw;
    height: 5.04vh;
}

/*menu escondido*/
.containerhidemenu{
    top: 2.4vh;
    position: relative;
    width: 15vw;
    height: 130.2vh;
}
.hidemenu{
    display: none;
    z-index: 2;
    position: absolute;
    width: 3.24vw;
    top: 2.3vh;
    height: 130.2vh;
    background-color: #2E2109;
}

.hidemenu #hidemenubloco1{
    display: flex;
    position: absolute;
    top: 6vh;
    width: 45px;
    height: 50px;
    background-color: #6D4A00;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.hidemenu #hidemenubloco2{
    display: flex;
    position: absolute;
    top: 14vh;
    width: 45px;
    height: 50px;
    background-color: #2E2109;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.hidemenu #hidemenubloco3{
    display: flex;
    position: absolute;
    top: 22vh;
    width: 45px;
    height: 50px;
    background-color: #2E2109;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.hidemenu #hidemenubloco4{
    display: flex;
    position: absolute;
    top: 30vh;
    width: 45px;
    height: 50px;
    background-color: #2E2109;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.pincelhidemenu{
    display: flex;
    position: absolute;
    width: 1.42vw;
    height: 3.21vh;
    top: 7.7vh;
    left: 0.9vw;
}

.pincelhidemenu2{
    display: flex;
    position: absolute;
    width: 1.42vw;
    height: 3.21vh;
    left: 0.9vw;
    top: 15.68vh;
}
.pincelhidemenu3{
    display: flex;
    position: absolute;
    width: 1.42vw;
    height: 3.21vh;
    left: 0.9vw;
    top: 23.66vh;
}
.pincelhidemenu4{
    display: flex;
    position: absolute;
    width: 1.42vw;
    height: 3.21vh;
    left: 0.9vw;
    top: 31.64vh;
}

/*Menu Flutuante*/
.submenuperfil{
    display: flex;
}

.containersubmenu{
    position: absolute;
    top: -10.2vh;
    left: 75.5vw;
    width: 262px;
    height: 262px;
}
.submenuperfil .blocosubmenu {
    position: absolute;
    z-index: 2;
    background-color: #2E2109;
    width: 302px;
    height: 262px;
    border-radius: 10px;
    top: 32px;
}

.submenuperfil .conta{
    z-index: 2;
    position: absolute;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    top: 7vh;
    left: 1.4vw;
    color: #C6B082;
}

.submenuperfil .imagemperfil{
    display: flex;
    z-index: 2;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    top: 11vh;
    left: 1.9vw;
    background-color: ghostwhite;
}

.submenuperfil .nomeconta{
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #C6B082;
    top: 11vh;
    left: 5.4vw;
}

.submenuperfil .contaemail{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    top: 14vh;
    left: 5.4vw;
    color: #FFAD00;
}

.submenuperfil .gerenciarconta{
    position: absolute;
    font-family: 'Montserrat Ace';
    z-index: 2;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #C6B082;
    top: 20vh;
    left: 1.4vw;
}

.submenuperfil .contadashboard{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #C6B082;
    top: 24vh;
    left: 1.4vw;
}

.submenuperfil .contaconfig{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #C6B082;
    top: 28vh;
    left: 1.4vw;
}

.submenuperfil .contalinha{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 302px;
    height: 1px;
    top: 33vh;
    left: 0vw;
    transform: rotate(180deg);
    background-color: rgba(255, 174, 0, 0.5);
}

.submenuperfil .contalogout{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #C6B082;
    top: 34vh;
    left: 1.4vw;
}
