html, body {
    margin-left: auto;
    margin-right: auto;
}
body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.containertudo{
    max-width: 1920px;
    max-height: 1080px;
    margin: 0;
    width: 100%;
}
.container {
    display: flex;
    margin: auto;
    width: 90%;
    position: relative;
}

.header{
    background-color: white;
}

.header .container{
    justify-content: space-between;
}

.vaccinfo{
    width: 136px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
    padding: 23px;
}

.navbar{
    display: flex;
    list-style: none;
    gap: 69px;
    align-items: center;
    width: 603px;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-size: 24px;
    font-weight: 300px;
    text-align: center;
    line-height: 29px;
    position: absolute;
    left: 403px;
    height: 42px;
    top: 0px;
    color: #6D4A00;
    white-space: nowrap;
    text-decoration: none;
}
/*menuperfil*/
.idperfil{
    display: flex;
    flex-direction: row;
    left: 548px;
    position: relative;
}
.navbar a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #6D4A00;
}

.submenuperfil {
    display: none;
    flex-direction: row;
    position: absolute;
    max-height: 262px;
    max-width: 262px;
    z-index: 2;
    background-color: #2E2109;
    width: 262px;
    height: 262px;
    border-radius: 10px;
    left: -160px;
    top: 32px;
}

.submenuperfil .bloco {
    display: flex;
    position: absolute;
   
}
.submenuperfil .conta{
    display: flex;
    z-index: 2;
    position: absolute;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    top: 20px;
    left: 20px;
    color: #C6B082;
}

.submenuperfil .imagemperfil{
    display: flex;
    z-index: 2;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    top: 52px;
    left: 30px;
    background-color: ghostwhite;
}

.submenuperfil .nomeconta{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #C6B082;
    right: 76px;
    top: 51px;
}

.submenuperfil .contaemail{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    right: 20px;
    top: 76px;
    color: #FFAD00;
}

.submenuperfil .gerenciarconta{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #C6B082;
    left: 20px;
    top: 121px;
}

.submenuperfil .contadashboard{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #C6B082;
    left: 20px;
    top: 152px;
}

.submenuperfil .contaconfig{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #C6B082;
    left: 20px;
    top: 183px;
}

.submenuperfil .contalinha{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 302px;
    height: 1px;
    top: 222px;
    left: 0px;
    transform: rotate(180deg);
    background-color: rgba(255, 174, 0, 0.5);
}

.submenuperfil .contalogout{
    display: flex;
    position: absolute;
    z-index: 2;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #C6B082;
    left: 20px;
    top: 231px;
}

.navbar #iconmenuperfil {
    position: absolute;
    width: 21px;
    height: 14px;
    left: 120px;
    color: #2E2109;
    cursor: pointer;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}
/* conteudo */
.containerconteudo{
    max-width: auto;
    max-height: auto;
}
.conteudo{
    left: 0px;
    top: 0px;
    position: relative;
}

.conteudo #blocao {
    display: flex;
    position: relative;
    background-color:#6D4A00;
    width: auto;
    height: 57px;
    top: 0px;
    left: 0px;
}
.conteudo #menutexto {
    display: flex;
    position: absolute;
    align-items: center;
    text-align: left;
    line-height: 44px;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #C6B082; 
    top: 15px;
    left: 48px;
    bottom: 16px;
}
.conteudo #iconmenu {
    position: absolute;
    width: 21px;
    height: 14px;
    left: 15px;
    top: 20px;
    color: #C6B082;
    cursor: pointer;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}
.menu {
    display: flex;
    position: absolute;
}

.menu span{
    display: flex;
    position: absolute;
    color: #C6B082;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 227px;
    height: 40px;
    left: 12px;
    top: 12px;
}

.menu #blocobloco1:hover{
    display: flex;
    background-color: #6D4A00;
    width: 238px;
    height: 50px;
    padding: 0px;
    top: 60px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    
}
.menu #blocobloco1{
    display: flex;
    background-color: #6D4A00;
    width: 238px;
    height: 50px;
    left: 0px;
    top: 60px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    
} 
.menu .minhasobras{
    display: flex;
    position: absolute;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19.5px;
    font-family: 'Montserrat Ace';
    top: 75px;
    left: 42px;
}



.pincel{
    display: flex;
    position: absolute;
    width: 19.73px;
    height: 24.63px;
    left: 12px;
    top: 74px;

}

.menu .minhasobras2 {
    display: flex;
    position: absolute;
    top: 124px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    left: 42px;
    line-height: 19.5px;
    font-family: 'Montserrat Ace';
}
.menu #blocobloco2{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    width: 238px;
    height: 50px;
    left: 0px;
    top: 110px;
    border-radius: 5px;
    cursor: pointer;
}
.menu #blocobloco2:hover{
    display: flex;
    background-color: #6D4A00;
    width: 238px;
    height: 50px;
    padding: 0px;
    top: 110px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.menu .blocobloco3 {
    display: flex;
    top: 160px;
    background-color: #2E2109;
    width: 238px;
    height: 50px;
    left: 0px;
    
}
.menu .blocobloco3:hover{
    display: flex;
    background-color: #6D4A00;
    width: 238px;
    height: 50px;
    padding: 0px;
    top: 160px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.menu .minhasobras3 {
    display: flex;
    position: absolute;
    top: 173px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    left: 42px;
    line-height: 19.5px;
    font-family: 'Montserrat Ace';
}

.menu .minhasobras4 {
    display: flex;
    position: absolute;
    top: 222px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    left: 42px;
    line-height: 19.5px;
    font-family: 'Montserrat Ace';
}

.menu .blocominhasobras4 {
    display: flex;
    top: 210px;
    background-color: #2E2109;
    width: 238px;
    height: 50px;
    left: 0px;
    
}
.menu .blocominhasobras4:hover{
    display: flex;
    background-color: #6D4A00;
    width: 238px;
    height: 50px;
    padding: 0px;
    top: 210px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.pincel2{
    position: absolute;
    width: 19.73px;
    height: 24.63px;
    left: 12px;
    top: 123px;
}
.pincel3{
    position: absolute;
    width: 19.73px;
    height: 24.63px;
    left: 12px;
    top: 172px;
}
.pincel4{
    position: absolute;
    width: 19.73px;
    height: 24.63px;
    left: 12px;
    top: 221px;
}

/*menu escondido*/
.hidemenu{
    display: flex;
    z-index: -1;
    position: absolute;
    width: 45px;
    height: 1000px;
    background-color: #2E2109;
}

.pincelhidemenu{
    display: flex;
    position: absolute;
    width: 19.73px;
    height: 24.63px;
    left: 12px;
    top: 74px; 
    
}

.hidemenu #hidemenubloco1{
    display: flex;
    position: absolute;
    top: 60px;
    width: 45px;
    height: 50px;
    background-color: #6D4A00;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.hidemenu #hidemenubloco2{
    display: flex;
    position: absolute;
    top: 112px;
    width: 45px;
    height: 50px;
    background-color: #2E2109;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.hidemenu #hidemenubloco3{
    display: flex;
    position: absolute;
    top: 161px;
    width: 45px;
    height: 50px;
    background-color: #2E2109;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.hidemenu #hidemenubloco4{
    display: flex;
    position: absolute;
    top: 210px;
    width: 45px;
    height: 50px;
    background-color: #2E2109;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.pincelhidemenu2{
    display: flex;
    position: absolute;
    width: 19.73px;
    height: 24.63px;
    left: 12px;
    top: 123px;
}
.pincelhidemenu3{
    display: flex;
    position: absolute;
    width: 19.73px;
    height: 24.63px;
    left: 12px;
    top: 172px;
}
.pincelhidemenu4{
    display: flex;
    position: absolute;
    width: 19.73px;
    height: 24.63px;
    left: 12px;
    top: 221px;
}


/*configurações*/
.configuracoes #configs {
    display: none;
    position: absolute;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 700;
    left: 290px;
    top: 100px;
    font-size: 16px;
}
/*dashboard */
.blocodoitens {
    display: flex;
    position: absolute;
    width: 238px;
    height: 1000px;
    background-color: #2E2109;

}
.dashboards {
    display: flex;
    position: relative;

}

.dashboards span{
    display: flex;
    position: absolute;
    color: #C6B082;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 227px;
    height: 40px;
    left: 12px;
    top: 12px;
}
/*CONTAINER DASHBOARD*/
.containerdashboard{
    display: flex;
    position: relative;
    top: -40px;
    max-width: auto;
    max-height: 1;
}
/*DASH 1 */
.dashboard1 #dash1{
    display: flex;
    position: absolute;
    background-color: #C6B082;
    left: 290px;
    top: 100px;
    width: 745px;
    height: 311px;
    border-radius: 10px;
}

.dashboard1 #dash1icon{
    display: flex;
    position: absolute;
    background-color: #6D4A00;
    left: 960px;
    top: 100px;
    width: 75px;
    height: 77px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.dashboard1 #dash1marrom{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    left: 290px;
    top: 100px;
    width: 745px;
    height: 77px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dashboard1 #dash1texto{
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-size: 32px;
    left: 343px;
    top: 100px;
    width: 509px;
    height: 70px;
}

/*DASH 2 */
.dashboard2 #dash2{
    display: flex;
    position: absolute;
    background-color: #C6B082;
    left: 1100px;
    top: 100px;
    width: 745px;
    height: 311px;
    border-radius: 10px;
}

.dashboard2 #dash2icon{
    display: flex;
    position: absolute;
    background-color: #6D4A00;
    left: 1770px;
    top: 100px;
    width: 75px;
    height: 77px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.dashboard2 #dash2marrom{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    left: 1100px;
    top: 100px;
    width: 745px;
    height: 77px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dashboard2 #dash2texto{
    display: flex;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-size: 32px;
    left: 1160px;
    top: 100px;
    width: 509px;
    height: 70px;
}

/* DASHBOARD 3*/
.dashboard3 #dash3{
    display: flex;
    position: absolute;
    background-color: #C6B082;
    left: 290px;
    top: 450px;
    width: 745px;
    height: 311px;
    border-radius: 10px;
}

.dashboard3 #dash3icon{
    display: flex;
    position: absolute;
    background-color: #6D4A00;
    left: 960px;
    top: 450px;
    width: 75px;
    height: 77px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.dashboard3 #dash3marrom{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    left: 290px;
    top: 450px;
    width: 745px;
    height: 77px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dashboard3 #dash3texto{
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-size: 32px;
    left: 351px;
    top: 450px;
    width: 509px;
    height: 70px;
}

/*DASHBOARD 4 */
.dashboard4 #dash4{
    display: flex;
    position: absolute;
    background-color: #C6B082;
    left: 1100px;
    top: 450px;
    width: 745px;
    height: 311px;
    border-radius: 10px;
}

.dashboard4 #dash4icon{
    display: flex;
    position: absolute;
    background-color: #6D4A00;
    left: 1770px;
    top: 450px;
    width: 75px;
    height: 77px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.dashboard4 #dash4marrom{
    display: flex;
    position: absolute;
    background-color: #2E2109;
    left: 1100px;
    top: 450px;
    width: 745px;
    height: 77px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dashboard4 #dash4texto{
    display: flex;
    font-family: 'Montserrat Ace';
    font-style: normal;
    font-size: 32px;
    left: 1160px;
    top: 450px;
    width: 509px;
    height: 70px;
}