.conteudo {
    display: flex;
    width: 100vw;
    height: 100%;
    background-color: #2E2109;
    flex-direction: column;
}

.textoTopo {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    color: rgb(243, 234, 216);
    margin-left: 11%;
    margin-top: 1.5%;
}

#textoTopoSala {
    display: flex;
    font-weight: 300;
}

#iconTopo {
    display: flex;
    transform: rotate(-90deg);
}


.blocosCima {
    margin-top: 1.5%;
    display: flex;
    width: 100vw;
    height: 35vh;
    justify-content: center;
    column-gap: 1.5%;
}

.blocoMarromCima {
    display: flex;
    width: 25%;
    height: 100%;
    background-color: rgb(243, 234, 216);
    border-radius: 10px;
}

.blocosBaixo {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: scroll;

}

.blocoRetangulo {
    display: flex;
    width: 25vw;
    height: 100vh;
    margin-top: 1.5%;
    margin-left: 11%;
}

.blocoMarromRet {
    display: flex;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(243, 234, 216);
}

.blocoDireita {
    display: flex;
    width: 51.5vw;
    height: 100%;
    margin-left: 1.5%;
    margin-top: 1.5%;
    flex-direction: column;
    row-gap: 1.5%;
}

.blocoMarromDireita {
    display: flex;
    background-color: rgb(243, 234, 216);
    width: 100%;
    height: 40%;
    border-radius: 10px;
}

.chartJS {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#graficolinha {
    display: flex;
}

.chartJS2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#graficobarra {
    display: flex;

}

.footer {
    display: none;
    width: 100vw;
    height: 5vh;
    background-color: white;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}