@keyframes clarear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}

.conteudo {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: #2E2109;
    padding-bottom: 0%;
}

.textoTopo {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    color: rgb(243, 234, 216);
    margin-left: 11%;
    margin-top: 1.5%;
}

#textoTopoSala {
    display: flex;
    font-weight: 300;
}

#iconTopo {
    display: flex;
    transform: rotate(-90deg);
}


.blocosCima {
    display: flex;
    margin-top: 1.5%;
    width: 100%;
    height: 32vh;
    justify-content: center;
    column-gap: 1.5%;
}

.blocoMarromCima {
    display: flex;
    width: 25.5%;
    height: 100%;
    background-color: rgb(243, 234, 216);
    border-radius: 10px;
}

/* KPI Umidade Atual*/
#primeirobloco {
    display: flex;
    background-color: #FF004D;
    flex-direction: column;

}

.headerbloco1 {
    display: flex;
    background-color: #972648;
    width: 100%;
    height: 23%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 1.5%;
}

#headertexto1 {
    font-size: 2vmax;
    font-weight: 700;
    text-align: center;
}

#headericon {
    display: flex;
    font-size: 27px;
}

.headerinfo {
    display: flex;
    color: white;
    margin-top: 8%;
    align-self: center;
    align-items: center;
    flex-direction: column;

}

#headerinfosetor {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: -10%;

}

#headerinfotexto {
    display: flex;
    font-size: 6vmax;
    font-weight: 700;
    color: white;
}

/* KPI Temperatura Atual*/
#segundobloco {
    display: flex;
    flex-direction: column;
}

.headerbloco2 {
    display: flex;
    background-color: #6D4A00;
    height: 23%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
    justify-content: center;
    color: #F0EBDF;
}

#headertexto2 {
    font-size: 2vmax;
    font-weight: 700;
    text-align: center;
}

#headerinfotexto2 {
    display: flex;
    font-size: 6vmax;
    font-weight: 700;
    align-self: center;
    color: #6D4A00;
}

.headerinfo2 {
    display: flex;
    color: #6D4A00;
    margin-top: 8%;
    align-self: center;
    align-items: center;
    flex-direction: column;

}

#headerinfosetor2 {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: -10%;

}

#headerinfotexto2 {
    display: flex;
    font-size: 6vmax;
    font-weight: 700;
    color: #6D4A00;
}

/* KPI Média dos Dois*/

#terceirobloco {
    display: flex;
    flex-direction: column;
}

.headerbloco3 {
    display: flex;
    background-color: #6D4A00;
    height: 25%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
    justify-content: center;
    color: #F0EBDF;
}


.headerinfo3 {
    display: flex;
    color: #6D4A00;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

#headertexto3 {
    font-size: 2vmax;
    font-weight: 700;
    text-align: center;
}

#headerinfotexto3 {
    display: flex;
    font-size: 3vmax;
    font-weight: 700;
    align-self: center;
    color: #6D4A00;

}

#headerinfosetor3 {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: -10%;

}

.blocomediaumidade {
    display: flex;
    background-color: #FF004D;
    height: 53%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: column;
    margin-top: 1%;

}


.headerbloco4 {
    display: flex;
    background-color: #972648;
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 1.5%;
}

.headerinfo4 {
    display: flex;
    color: white;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

#headertexto4 {
    font-size: 2vmax;
    font-weight: 700;
    text-align: center;
}

#headerinfotexto4 {
    display: flex;
    font-size: 3vmax;
    font-weight: 700;
    color: white;
    margin: auto;
}

#headerinfosetor4 {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: -10%;

}


.blocosBaixo {
    display: flex;
    width: 100%;
    height: 110vh;
    margin-left: 8.7%;

}

.blocoMarromRet {
    display: flex;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(243, 234, 216);
}

.blocoDireita {
    display: flex;
    width: 79.5%;
    height: auto;
    margin-left: 1.5%;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    flex-direction: column;

}

.blocoMarromDireita {
    display: flex;
    background-color: rgb(243, 234, 216);
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#graficosetor1 {
    display: block;
    animation: clarear .6s;
}

#graficosetor2 {
    animation: clarear .6s;
}

#graficosetor3 {
    animation: clarear .6s;
}

#graficosetor4 {
    animation: clarear .6s;
}

#graficosetor5 {
    animation: clarear .6s;
}

#graficosetor6 {
    animation: clarear .6s;
}

.blocoMarromDireita2 {
    display: flex;
    background-color: rgb(243, 234, 216);
    width: 98%;
    height: 50%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    padding: 2% 0 2% 2%;
}

#graficobarra {
    display: flex;
    margin: 3%;
}

.headericon1{
    display: flex;
}

.headericon2{
    display: flex;
}

.headericon3{
    display: none;
}

.headericon4{
    display: none;
}
.headericon5{
    display: none;
}
.headericon6{
    display: none;
}
.headericon7{
    display: flex;
}

.headericon8{
    display: flex;
}


.footer {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: white;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}