
body {
    margin: 0;
    padding: 0;
    max-width: 768px;
    max-height: 1388px;
    font-family: 'Montserrat Ace';
}

    .banner {
        background-image: url(../assets/img/D.jpg);
        background-size: cover;
        width: 1388px;
        height: 768px;
        position: absolute;
        z-index: -1;
        margin: auto;
    }

    
.banner .container {
    display: flex;
    width: 472px;
    height: 476px;
    justify-content: left;
    background-color: #2E2109;
    position: relative;
    margin-left: 466px;
    border-radius: 14px;
    border: 1px solid #AE8406;
    align-items: start;
    flex-direction: column;
    top: 120px;
}

.container .container2 {
    display: flex;
    width: 496px;
    height: 494px;
    background-color: #7F601F;
    opacity: 80%;
    position: absolute;
    border-radius: 14px;
    z-index: -2;
    top: 33px;
    left: 30px;
}

.containerInterno{
    display: flex;
    width: 448px;
    height: 326px;
    top: 60px;
    color: white;
    align-items: start;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    position: absolute;
}


.containerInterno span {
    display: flex;
    margin-left: 36px;
    font-size: 25px;
}

#a {
    margin-top: 120px;
}

input {
    background-color: #392D12;
    border: 1px solid #8f6d0f;
    width: 404px;
    margin-left: 36px;
    height: 30px;
    border-radius: 6px;
    color: white;
    font-size: 20px;
}

h1{
    color: white;
    margin-top: -5px;
    margin-left: 165px;
    font-size: 48px;
    font-family: 'Montserrat Ace';   
}
a {
    text-decoration: none;
    color: inherit;
  }
  
span a {
    font-size: 12px;
    padding: 7px 0;
}

#span_erro {
    color: red;
    margin-left: 36px;
    font-family: 'Montserrat Ace';
    font-size: 18px;
}

.botoes {
    margin-top: 75px;
    margin-left: 36px;
    font-family: 'Montserrat Ace';
}
#cadastro {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 20px;
}
#entrar {
    background-color: #9C770B;
    border: 1px solid #8f6d0f;
    width: 120px;
    height: 30px;
    margin-left: 175px;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

img{
    height: 17px;
    width: 90px;
    margin-top: 50px;
    margin-left: 194px;
}

.conjuntotextoinput {
    margin-top: 20px;
}
