body{
    border: 0%;
    margin: 0%;
    background-color: rgb(255, 255, 255);
    /* font-family: monospace; */
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container{
    justify-content: space-between ;
}


.header{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(6px 6px 10px rgba(190, 171, 93, 0.585));
}

.navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li, .navbar a{
    text-decoration: none;
    color: rgb(147, 107, 47);
    align-items: center;
    margin: 10px;
    justify-content: center;
}

.bt_login{
    border-radius: 5px;
    background-color: rgba(109, 70, 11, 0.885);
    /* border-bottom: 6px; */
    border: 0px;
    width: 75px;
    height: 23px;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.logo{
    width: 10%;
    height: 10%;
    margin-top: 25.6px;
}


 /* CONTEUDO */
.banner{
    background-image: url('img/fundost.png');
    background-size: cover;
    height: 600px;
    width: 100%;
    font-family: monospace;
}
.banner .container{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .banner h1, h3 {
    width: 900px;
    font-size: 25;
    color: white;
} */

.escrita1{
    width: 900px;
    margin-top: 150px;
    font-weight: 3000;
    font-size: xx-large;
    /* font-size: 25; */
    color: white;
}
.escrita2{
    width: 900px;
    margin-top: 10px;
    font-weight: 2000;
    font-size: x-large;
    font-size: 25;
    color: white;
}

.btSM{
    background-color: rgba(94, 63, 23, 0.751);
    color: white;
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 200px;
    border-radius: 7px;
}

/* VALORES */

.subtitulo{
    display: flex;
    justify-content: center;
    color: rgb(100, 75, 38);
}

.valores{
    background-color: #d6d1cbe5;
    height: 700px;
}
 .boxes{
    display: flex;
    padding: 50px 0px 50px 0px;
    gap: 8px;
} 

.box{
    display: flex;
    align-items: center;
}

.box img{
    width: 400px;
    margin-left: 15px;
}


/* SOBRE NÒS */

.infor{
    height: 500px;
    background-color: rgb(72, 40, 0);
    display: flex;
    
}
.resumo{
    height: 350px;
    width: 380px;
    background-color: #896530df;
    margin: 55px 30px 0px 10%;
    border-radius: 6px;
    padding: 5% 5% 0 5%;
    display: flex;
    
    flex-direction: column;
}
#fotoInfo{
    height: 500px;
    filter: drop-shadow(0 0 0.75rem rgb(181, 134, 7));
}

#subtNos{
    font-weight: bolder;
    color: white;
    font-size: xx-large;
    margin: 0;
}
#escritaNos{
    font-size: 18px;
}
#bthis{
    background-color: rgb(52, 33, 8);
    color: white;
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 200px;
    border-radius: 7px;

}


/* RODAPÈ */

.rodapé{
    margin-top: 80px;
    background-color: #ad7f3a;
    height: 200px;
    width: 100%;
}

.final{
    background-color: rgb(64, 37, 7);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linha-vertical {
    height: 170px;
    border-right: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin: 0px 50% 0px 0px;
    align-items: center;
}