@import url('https://fonts.cdnfonts.com/css/montserrat-ace');
body{
    border: 0%;
    margin: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat Ace', sans-serif;
}

a {
    
    text-decoration: none;
    color: white;
}
.container{
    display: flex;
    width: 80%;
    height: 100%;
}
.header {
    display: flex;
    width: 100%;
    height: 7%;
    align-items: center;
    justify-content: center;
    
}

.logo {
    display: flex;
    width: 115px;
    height: 30px;
    color: #6D4A00;
    align-items: center;

}

.navbar a {
    text-decoration: none;
    color: rgb(147, 107, 47);
}

.navbar li{
    display: inline-flex;
    list-style: none;
    margin-left: 1.5%;
}
.navbar{
    display: flex;
    height: 100%;
    width: 80%;
    color: rgb(147, 107, 47);
    align-items: center;
    text-align: center;

}

#textonavbar{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.header #iconmenuperfil {
    display: flex;
    color: rgb(147, 107, 47);
    cursor: pointer;
}


.bt_login{
    border-radius: 5px;
    background-color: rgba(109, 70, 11, 0.885);
    /* border-bottom: 6px; */
    border: 0px;
    width: 75px;
    height: 23px;
    align-items: center;
    color: white;
    font-weight: bold;
    
    cursor: pointer;
}

 /* CONTEUDO */
 .gradiente{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 2.15%, rgba(100, 75, 3, 0.469) 49.48%, rgba(54, 41, 13, 0.7) 100%);
    filter: drop-shadow(0px 6px 30px rgba(0, 0, 0, 0.25));
    transform: matrix(-1, 0, 0, 1, 0, 0);
 }
.banner{
    display: flex;
    background-image: url('img/fundost.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.banner .container{
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 8%;
}

.bannerTexto{
    display: flex;
    flex-direction: column;
    margin-top: 33%;
    width: 100vw;
    height: 100vh;
}
.escrita1{
    display: flex;
    height: 6vh;
    width: 60vw;
    z-index: 2;
    font-weight: 700;
    font-size: 2vmax;
    color: white;
}
.escrita2{
    display: flex;
    z-index: 2;
    height: 10vh;
    width: 50vw;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3vmax;
    line-height: 30px;
    color: white;
}

.btSM{
    display: flex;
    background-color: rgb(52, 33, 8);
    color: white;
    z-index: 2;
    font-size: 1.3vmax;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    height: 3vmax;
    width: 13%;
    border-radius: 5px;
    border: 1px solid #2F220A;
    font-family: 'Montserrat Ace', sans-serif;
    cursor: pointer

}

.btSM:hover{
    background-color: #b4a892;
}

/* VALORES */

.subtitulo{
    display: flex;
    justify-content: center;
    color: #644b26;
}

.valores .container{
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
}

.valores{
    height: 100vh;
    display: flex;
    justify-content: center;
}
 .boxes{
    display: flex;
    padding: 50px 50px 50px 50px;
    gap: 8px;
} 

#headsetIcon{
    font-size: 45px;
    color: #644b26;
}

#tagIcon{
    font-size: 45px;
    color: #644b26;
}

#alertaIcon{
    font-size: 45px;
    color: #644b26;
}

#compartilharIcon{
    font-size: 45px;
    color: #644b26;
}

#escudoIcon{
    font-size: 45px;
    color: #644b26;
}

#databaseIcon{
    font-size: 45px;
    color: #644b26;
}
.box h4{
    color: #644b26;
    font-weight: bold;
    font-size: 23px;
}

.box p {
    width: 75%;
    text-align: center;
    margin: 0;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.box img{
    width: 15%;
}

#img1{
    width: 70px;
}

/* SOBRE NÒS */

.infor{
    height: 75vh;
    width: 100vw;
    background-color: #36290D;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.resumo{
    height: 52vh;
    width: 32vw;
    background-color: #C6B082;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.infor .container{
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    margin-left: 10%; 
    z-index: 2;
}

#fotoInfo{
    position: relative;
    height: 100%;
    z-index: -1;
    width: 60%;
    right: 10%;
    filter: drop-shadow(0px 6px 30px rgba(0, 0, 0, 0.25));
}

#subtNos{
    display: flex;
    font-weight: bolder;
    margin-left: 10%;
    color: black;
    font-size: 2vmax;
    margin-top: 10%;
}
#escritaNos{
    display: flex;
    align-self: center;
    height: auto;
    width: 80%;
    font-size: 1.3vmax;
    margin-top: 3%;
    font-weight: 300;
    line-height: 26px;
}
#bthis{
    background-color: rgb(52, 33, 8);
    color: white;
    font-size: medium;
    font-weight: normal;
    height: 12%;
    width: 60%;
    margin-right: 20%;
    margin-top: 5%;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #2F220A;
    font-family: 'Montserrat Ace', sans-serif;
    cursor: pointer

}
#bthis:hover{
    background-color: #b4a892;
}


/* RODAPÈ */

.rodapé{
    margin-top: 80px;
    background-color: #C6B082;
    height: 200px;
    width: 100%;
}

.final{
    background-color: #36290D;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linha-vertical {
    height: 170px;
    border-right: 3px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin: 0px 50% 0px 0px;
    align-items: center;
}