@import url('https://fonts.cdnfonts.com/css/montserrat-ace');
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat Ace';
}


a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #6D4A00;
}

.container {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    height: 7%;
    align-items: center;
    justify-content: center;
    
}

.logo {
    display: flex;
    width: 115px;
    height: 30px;
    color: #6D4A00;
    align-items: center;
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: rgb(147, 107, 47);
}

.navbar li{
    display: inline-flex;
    list-style: none;
    margin-left: 1.5%;
}
.navbar{
    display: flex;
    height: 100%;
    width: 80%;
    color: rgb(147, 107, 47);
    align-items: center;
    text-align: center;

}

#textonavbar{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

/* LOGIN */

.bt_login{
    border-radius: 5px;
    background-color: rgba(109, 70, 11, 0.885);
    /* border-bottom: 6px; */
    border: 0px;
    width: 100%;
    white-space: nowrap;
    height: 23px;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#textomenuperfil{
    display: none;
}
#iconmenuperfil {
    display: none;
    color: rgb(147, 107, 47);
    cursor: pointer;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #F0EBDF;
    position: relative;
}

#monalisa{
    position: absolute;
    width: 30%;
    height: 70%;
    left: 2%;
    top: 5%;
}

.cDireita {
    display: flex;
    background-color: #F0EBDF;
    border: 1px solid #2E2109;
    height: 50%;
    width: 55%;
    position: absolute;
    top: 15%;
    left: 40%;
    color: #392D12;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    font-size: 1vmax;
}


input {
    background-color: #F0EBDF;
    border-bottom: 1px solid #2E2109;
    width: 40%;
    height: 7%;
    color: #2E2109;
    font-size: 1vmax;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom:1px solid #2E2109;
}

.cDireita #nome {
    display: flex;
    position: absolute;
    font-size: 1vmax;
    top: 10%;
    left: 5%;
}

#input_nome {
    display: flex;
    position: absolute;
    top: 15%;
    left: 5%;
}

.cDireita #email {
    display: flex;
    position: absolute;
    font-size: 1vmax;
    top: 30%;
    left: 5%;
}

#input_email {
    display: flex;
    position: absolute;
    top: 35%;
    left: 5%;
}

.cDireita #telefone {
    display: flex;
    position: absolute;
    font-size: 1vmax;
    top: 50%;
    left: 5%;
}

#input_telefone {
    display: flex;
    position: absolute;
    top: 55%;
    left: 5%;
}

.cDireita #mensagem {
    display: flex;
    position: absolute;
    font-size: 1vmax;
    top: 70%;
    left: 5%;
}

#input_mensagem {
    display: flex;
    position: absolute;
    top: 75%;
    left: 5%;
}

#faleConosco {
    background-color: #1E1E1E;
    border: 1px solid #1E1E1E;
    border-radius: 50px;
    width: 20%;
    height: 15%;
    top: 84%;
    left: 5%;
    position: absolute;
    font-size: 1vmax;
    color: white;
    font-family: 'Montserrat Ace';
    cursor: pointer;
}

.containerInterno {
    display: flex;
    position: absolute;
    height: 70% ;
    width: 40%;
    left: 55%;
    top: 20%;
    font-size: 1vmax;
}

.icons{
    display: flex;
    position: absolute;
    width: 5%;
    height: 5%;
    gap: 100%;
    top: 80%;
    left: 0%;
}

#contato {
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 2vmax;
    font-weight: 800;
}

#arttechEmail {
    display: flex;
    position: absolute;
    top: 20%;
    left: 10%;
}

#arttechTelefone {
    display: flex;
    position: absolute;
    top: 40%;
    left: 10%;
}

#footer {
    display: flex;
    position: absolute;
    background-color: #2E2109;
    color: #F0EBDF;
    height: 8%;
    width: 100%;
    top: 95%;
    font-size: 0.7vmax;
    align-items: center;
    justify-content: center;
}

#iconMail {
    display: flex;
    position: absolute;
    width: 5%;
    height: 5%;
    top: 29%;
    left: 3%;
}

#iconTel {
    display: flex;
    position: absolute;
    width: 4%;
    height: 5%;
    top: 49%;
    left: 3%;
}

#logoHeader {
    color: #AE8406;
    font-size: 2vmax;
    font-weight: 800;
    margin-left: 5%;
}

#botaoSuporte {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 3%;
    height: 6%;
    top: 85%;
    left: 94%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #bea46b;
    cursor: pointer;
}

#botaoSuporteIcon {
    color: white;
    font-size: 1.7vmax;
    font-weight: 300;
}

#botaoSuporteMensagem{
    display: flex;
    position: fixed;
    background-color: #bea46b;
    z-index: 1;
    width: 14%;
    height: 6%;
    top: 85%;
    left: 83%;
    border-radius: 30px;
    opacity: 0;
}

#botaoSuporteMensagem:hover{
    animation-name: suporteA;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes suporteA {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes suporteB {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#botaoSuporteTexto{
    display: flex;
    color: white;
    font-size: 0.9vmax;
    font-weight: 500;
    width: 100%;
    margin-left: 8%;
    align-items: center;
    
}

.menuSuporte{
    display: none;
    position: fixed;
    background-color: #C6B082;
    width: 20%;
    height: 50%;
    margin-top: 15.5%;
    margin-left: 77%;
    z-index: 2;
    border-radius: 15px;
    flex-direction: column;
}

#suporteTitulo{
    display: flex;
    background-color: #2E2109;
    width: 100%;
    height: 12%;
    border-radius: 10px 10px 0 0;
    font-size: 1.15vmax;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: white;
}

#suporteFechar{
    display: flex;
    position: absolute;
    left: 90%;
    cursor: pointer;
}

#suporteRemetente{
    display: flex;
    width: 100%;
    height: 12%;
    margin-top: 5%;
    flex-direction: column;
}

#suporteRementeTitulo{
    display: flex;
    color: #2E2109;
    margin-left: 5%;
    font-size: 0.9vmax;
    font-weight: 800;
}

#i_email{
    display: flex;
    width: 88%;
    height: 60%;
    margin-left: 4.5%;
    border-radius: 5px;
    background-color: #392D12;
    color: white;
    font-size: 1vmax;
    padding-left: 2%;
}

#i_assunto{
    display: flex;
    width: 88%;
    height: 60%;
    margin-left: 4.5%;
    border-radius: 5px;
    background-color: #392D12;
    color: white;
    padding-left: 2%;
    font-size: 1vmax;
    font-weight: 400;
}

#suporteRemetenteMensagem{
    display: flex;
    width: 100%;
    height: 45%;
    margin-top: 5%;
    flex-direction: column;
}

#i_msg{
    display: flex;
    width: 88%;
    height: 80%;
    margin-left: 4.5%;
    border-radius: 5px;
    background-color: #392D12;
    color: white;
    padding-left: 2%;
    text-align: left;
    vertical-align: top;
    font-family: 'Montserrat Ace';
    font-size: 1vmax;
    font-weight: 400;
    border: 0;
    resize: none;
}

#i_msg:focus{
    outline: 0;
}

#suporteLoading{
    display: flex;
    background-image: url(./imgs/Rolling-1s-200px.svg);
    width: 100%;
    background-size: cover;
    height: 100%;
    position: absolute;
    z-index: 2;
}