@import url('https://fonts.cdnfonts.com/css/montserrat-ace');
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat Ace';
}


a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #6D4A00;
}

.container {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    height: 7%;
    align-items: center;
    justify-content: center;
    
}

.logo {
    display: flex;
    width: 115px;
    height: 30px;
    color: #6D4A00;
    align-items: center;

}

.navbar a {
    text-decoration: none;
    color: rgb(147, 107, 47);
}

.navbar li{
    display: inline-flex;
    list-style: none;
    margin-left: 1.5%;
}
.navbar{
    display: flex;
    height: 100%;
    width: 80%;
    color: rgb(147, 107, 47);
    align-items: center;
    text-align: center;

}

#textonavbar{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

#sobrehover:hover{
    display: flex;
    justify-content: center;
    width: 4%;
    border-bottom: 1px solid #6D4A00;
}

#ajudahover:hover{
    display: flex;
    justify-content: center;
    width: 4%;
    border-bottom: 1px solid #6D4A00;
}

#falehover:hover{
    display: flex;
    justify-content: center;
    white-space: nowrap;
    width: 9%;
    border-bottom: 1px solid #6D4A00;
}

#homehover:hover{
    display: flex;
    justify-content: center;
    width: 3.5%;
    border-bottom: 1px solid #6D4A00;
}

.header #iconmenuperfil {
    display: flex;
    color: rgb(147, 107, 47);
    cursor: pointer;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #F0EBDF;
    position: relative;
}

#monalisa{
    position: absolute;
    width: 30%;
    height: 70%;
    left: 2%;
    top: 5%;
}

.cDireita {
    display: flex;
    background-color: #F0EBDF;
    border: 1px solid #2E2109;
    height: 50%;
    width: 55%;
    position: absolute;
    top: 15%;
    left: 40%;
    color: #392D12;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    font-size: 1vmax;
}


input {
    background-color: #F0EBDF;
    border-bottom: 1px solid #2E2109;
    width: 40%;
    height: 7%;
    color: #2E2109;
    font-size: 1vmax;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom:1px solid #2E2109;
}

.cDireita #nome {
    display: flex;
    position: absolute;
    font-size: 1vmax;
    top: 10%;
    left: 5%;
}

#input_nome {
    display: flex;
    position: absolute;
    top: 15%;
    left: 5%;
}

.cDireita #email {
    display: flex;
    position: absolute;
    font-size: 1vmax;
    top: 30%;
    left: 5%;
}

#input_email {
    display: flex;
    position: absolute;
    top: 35%;
    left: 5%;
}

.cDireita #telefone {
    display: flex;
    position: absolute;
    font-size: 1vmax;
    top: 50%;
    left: 5%;
}

#input_telefone {
    display: flex;
    position: absolute;
    top: 55%;
    left: 5%;
}

.cDireita #mensagem {
    display: flex;
    position: absolute;
    font-size: 1vmax;
    top: 70%;
    left: 5%;
}

#input_mensagem {
    display: flex;
    position: absolute;
    top: 75%;
    left: 5%;
}

#faleConosco {
    background-color: #1E1E1E;
    border: 1px solid #1E1E1E;
    border-radius: 50px;
    width: 20%;
    height: 15%;
    top: 84%;
    left: 5%;
    position: absolute;
    font-size: 1vmax;
    color: white;
    font-family: 'Montserrat Ace';
}

.containerInterno {
    display: flex;
    position: absolute;
    height: 70% ;
    width: 40%;
    left: 55%;
    top: 20%;
    font-size: 1vmax;
}

.icons{
    display: flex;
    position: absolute;
    width: 5%;
    height: 5%;
    gap: 100%;
    top: 80%;
    left: 0%;
}

#contato {
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 2vmax;
    font-weight: 800;
}

#arttechEmail {
    display: flex;
    position: absolute;
    top: 20%;
    left: 10%;
}

#arttechTelefone {
    display: flex;
    position: absolute;
    top: 40%;
    left: 10%;
}

#footer {
    display: flex;
    position: absolute;
    background-color: #2E2109;
    color: #F0EBDF;
    height: 8%;
    width: 100%;
    top: 95%;
    font-size: 0.7vmax;
    align-items: center;
    justify-content: center;
}

#iconMail {
    display: flex;
    position: absolute;
    width: 5%;
    height: 5%;
    top: 29%;
    left: 3%;
}

#iconTel {
    display: flex;
    position: absolute;
    width: 4%;
    height: 5%;
    top: 49%;
    left: 3%;
}

#logoHeader {
    color: #AE8406;
    font-size: 2vmax;
    font-weight: 800;
    margin-left: 5%;
}