@import url('https://fonts.cdnfonts.com/css/montserrat-ace');

* {
    font-family: 'Montserrat ace';
}
body {
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
}

.header {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
}

.navbar li,
.navbar a {
    text-decoration: none;
    color: rgb(147, 107, 47);
    align-items: center;
    margin: 10px;
    justify-content: center;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 35%;
}

.bt_login {
    border-radius: 10px;
    background-color: #6d460be2;
    /* border-bottom: 6px; */
    border: 0px;
    width: 75px;
    height: 23px;
    align-items: center;
    color: white;
    font-weight: bold;

    cursor: pointer;
}

.logo {
    display: flex;
    margin-left: 12.5%;
    width: 10%;
    height: 40%;
}

/*CONTEÚDO DO SITE*/

/*Primeiro Blocão Marrom*/

.BlocaoMarrom {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.MensagemAjuda {
    display: flex;
    flex-direction: column;
}

.containerBlocao {
    display: flex;
    width: 100vw;
    height: 60vh;
    background-color: #493510;
    border-radius: 10px;
}

#PrecisaDeAjuda {
    display: flex;
    width: 100%;
    height: 16%;
    font-size: 50px;
    color: #F0EBDF; 
    font-weight:bold;
    white-space: nowrap;
    align-items: center;
    margin-left: 15%;
    margin-top: 38%;
    
}

#CasoPrecise {
    display: flex;
    width: 100%;
    height: 16%;
    font-size: 25px;
    color: #F0EBDF;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-left: 15%;

}

#ImagemTracejado {
    width: 100%;
    height: 90%;
    margin-top: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 10.5%;
}

/*4 Funcionalidades (Financeiro, Cadastro, Tecnologia e Parceria)*/

.Funcionalidades {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.financeiro {
    width: 49%;
    height: 150px;
    background-color: #493510;
    border-radius: 10px;
    color: #F0EBDF;
}

.TecnologiaParceriaCadastro {
    width: 49%;
    height: 150px;
    border-radius: 10px;
    background-color: #F0EBDF;
    color: #493510;
}

.financeiro #titulo {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 5%;

}

.TecnologiaParceriaCadastro #titulo {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 5%;
}

.financeiro #conteudo {
    display: flex;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 5%;

}

.TecnologiaParceriaCadastro #conteudo {
    display: flex;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 5%;
}

/*Ainda precida de Ajuda ?*/

.BlocaoMarromBaixo{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.containerBlocaoBaixo {
    display: flex;
    width: 100vw;
    height: 50vh;
    background-color: #493510;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.blocoBranco {
    display: flex;
    width: 55%;
    height: 70%;
    background-color: #F0EBDF;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#AindaPrecisaDeAjuda {
    display: flex;
    font-size: 50px;
    font-weight: bold;
    color: #493510;
}

#NosEnvieUmaMensagem {
    font-size: 30px;
    color: #493510;
    display: flex;

}

#buttonFaleConosco {
    display: flex;
    width: 33%;
    height: 30%;
    background: #493510;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    color: #F0EBDF;
    margin-top: 3%;
    justify-content: center;
    align-items: center;

}
/*Footer*/





.footer {
    display: flex;
}

.footer .container {
    display: flex;
    width: 100vw;
    height: 15vh;
    background-color: #493510;
    align-items: center;
    justify-content: center;
    color: #F0EBDF;
    font-weight: bold;
}