@import url('https://fonts.cdnfonts.com/css/montserrat-ace');

* {
    font-family: 'Montserrat Ace';
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #6D4A00;
}

.container {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
}

.header{
    display: flex;
    width: 100%;
    height: 7%;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.navbar{
    display: flex;
    color: rgb(147, 107, 47);
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    text-align: center;
    gap: 1.8vmax;
    margin-left: 60%;
    list-style: none;
}

.header #iconmenuperfil {
    display: flex;
    color: rgb(147, 107, 47);
    margin-left: 0.7%;
    cursor: pointer;
}

.logo{
    display: flex;
    position: absolute;
    width: 115px;
    height: 30px;
    color: #6D4A00;
    align-items: center;
    margin-left: 8%;
    top: 2%;
}

/*CONTEÚDO DO SITE*/

/*Primeiro Blocão Marrom*/

.BlocaoMarrom {
    display: flex;
    justify-content: center;
    padding: 0 10px 10px 10px;
}

.MensagemAjuda {
    display: flex;
    flex-direction: column;
}

.containerBlocao {
    display: flex;
    width: 100vw;
    height: 60vh;
    background-color: #493510;
    border-radius: 10px;
}

#PrecisaDeAjuda {
    display: flex;
    width: 100%;
    height: 16%;
    font-size: 50px;
    color: #F0EBDF; 
    font-weight:bold;
    white-space: nowrap;
    align-items: center;
    margin-left: 15%;
    margin-top: 38%;
    
}

#CasoPrecise {
    display: flex;
    width: 100%;
    height: 16%;
    font-size: 25px;
    color: #F0EBDF;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-left: 15%;

}

#ImagemTracejado {
    margin-top: 1%;
    margin-left: 13%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

/*4 Funcionalidades (Financeiro, Cadastro, Tecnologia e Parceria)*/

.Funcionalidades {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.financeiro {
    width: 49%;
    height: 150px;
    background-color: #493510;
    border-radius: 10px;
    color: #F0EBDF;
}

.TecnologiaParceriaCadastro {
    width: 49%;
    height: 150px;
    border-radius: 10px;
    background-color: #F0EBDF;
    color: #493510;
}

.financeiro #titulo {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 5%;

}

.TecnologiaParceriaCadastro #titulo {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 5%;
}

.financeiro #conteudo {
    display: flex;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 5%;

}

.TecnologiaParceriaCadastro #conteudo {
    display: flex;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 5%;
}

/*Ainda precida de Ajuda ?*/

.BlocaoMarromBaixo{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.containerBlocaoBaixo {
    display: flex;
    width: 100vw;
    height: 50vh;
    background-color: #493510;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.blocoBranco {
    display: flex;
    width: 55%;
    height: 70%;
    background-color: #F0EBDF;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#AindaPrecisaDeAjuda {
    display: flex;
    font-size: 50px;
    font-weight: bold;
    color: #493510;
}

#NosEnvieUmaMensagem {
    font-size: 30px;
    color: #493510;
    display: flex;

}

#buttonFaleConosco {
    display: flex;
    width: 33%;
    height: 30%;
    background: #493510;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    color: #F0EBDF;
    margin-top: 3%;
    justify-content: center;
    align-items: center;

}

.BlocaoMarromBaixo a {
    text-decoration: none;
    color: #F0EBDF; 
}
/*Footer*/





.footer {
    display: flex;
}

.footer .container {
    display: flex;
    width: 100vw;
    height: 15vh;
    background-color: #493510;
    align-items: center;
    justify-content: center;
    color: #F0EBDF;
    font-weight: bold;
}