body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Montserrat Ace';
}


/*Conteudo*/

.containerBlocao {
    display: flex;
    justify-content: center;
    padding: 10px;
    max-width: 100%;
    max-height: 400px;
}

.blocaoMarrom {
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #493510;
    border-radius: 20px;
    flex-direction: row;
}

.frases #PrecisaDeAjuda {
    position: absolute;
    display: flex;
    width: 70%;
    height: 50px;
    font-family: 'Montserrat Ace';
    font-size: 50px;
    color: #F0EBDF;
    left: 10%;
    bottom: 40%;
    font-weight:bold ;
    
}

.frases #CasoPrecise {
    position: absolute;
    display: flex;
    width: 70%;
    height: 50px;
    font-family: 'Montserrat Ace';
    font-size: 20px;
    color: #F0EBDF;
    left: 10%;
    bottom: 20%;


}

.containerBlocao #tracejadoBlocao {
    display: flex;
    position: absolute;
    width: 45%;
    height: 300px;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 30%;
    left: 50%;

}

.containerFuncaoCima {
    position: relative; 
    display: flex;
    padding: 10px;
    justify-content: space-between;

}

.containerFuncaoBaixo {
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: space-between;

}


.financeiro {
    width: 49%;
    height: 150px;
    background-color: #493510;
    border-radius: 20px;
    color: #F0EBDF;
}

.TecnologiaParceriaCadastro {
    width: 49%;
    height: 150px;
    border-radius: 20px;
    background-color: #F0EBDF;
    color: #493510;
}

.BlocaoBrancoDentro {
    position: absolute;
    background-color: #F0EBDF;
    width: 60%;
    height: 300px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    left: 17%;
    top: 12.85%;
}

.BlocaoBrancoDentro button {
    position: absolute;
    width: 20%px;
    height: 70px;
    left: 33%;
    top: 60%;
    background: #493510;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    font-size: 30px;
    font-weight: 600;
    color: #F0EBDF;
    margin: 10px;
    flex-direction: row;
    border: 0;
    padding: 10px;

}

#AindaPrecisaDeAjuda {
    position: absolute;
    color: #493510;
    font-weight: 600;
    align-self: center;
    left: 13%;
    top: 13%;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;

}

#NosEnvie {
    position: absolute;
    align-self: center;
    left: 23%;
    top: 35%;
    color: #493510;
    font-size: 32px;
    font-weight: 100px;
    margin-bottom: 0;
    text-align: center;
}

.BlocaoBrancoDentro span{
    color: #493510;
}

.financeiro #titulo {
    display: flex;
    font-size: 35px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 5%;

}

.TecnologiaParceriaCadastro #titulo {
    display: flex;
    font-size: 35px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 5%;
}

.financeiro #conteudo {
    display: flex;
    font-size: 25px;
    margin-top: 3%;
    margin-left: 5%;

}

.TecnologiaParceriaCadastro #conteudo {
    display: flex;
    font-size: 25px;
    margin-top: 3%;
    margin-left: 5%;
}



.figurasBlocaoMarrom {
    display: flex;
    box-sizing: border-box;
    width: 526px;
    height: 365px;
    border: 2px dashed rgba(174, 132, 6, 0.78);
    border-radius: 50px;
    margin: 17px;
    flex-direction: row-reverse;
}




/*Footer*/
.footer {
    width: 100%;
    height: 100px;
    background-color: #493510;
    color: #F0EBDF;
    display: flex;
}

.footer .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}